body {
  /* background-color: rgb(3, 49, 3); */
  background: linear-gradient(to right, rgb(3, 49, 3), rgba(3, 49, 3, 0.612));
}

.container {
  margin: 30vh auto;
  width: 500px;
  text-align: center;
}

h1 {
  color: white;
}
